<h1>manpowanko</h1>
<h3>本日の歩数</h3>
<div class="counts-container">
 <% @counts.each do |t|%>
  <div class="count">
    <%= t.step%>
    <%= t.date%>
  </div>
 <%end%>
</div>
<%= link_to "新規投稿ページへ",new_count_path %>
<%= link_to "履歴ページへ",counts_path%>
<%= link_to "説明ページへ",counts_document_path%>
<%= link_to "プレゼントページへ",counts_present_path%>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>