<div class = "cat">
   <h1>manpowanko</h1>
</div>

<div class = "bag">
   <h3>新規count</h3>
</div>

   <%= link_to "ユーザーページへ",counts_home_path, class: "shoose" %>


<%=form_for @count do |f|%>
    <div class="field>
      <%=f.label :step%>
      <%=f.number_field :step %>
    </div>

    <div class="field">
      <%=f.label :date%>
      <%=f.date_field :date %>
    </div>

    <%=f.submit"countを投稿する"%>
<%end%>

