<h1>manpowanko</h1>
<h3>新規count</h3>
<%=form_for @count do |f|%>
    <div class="field>
      <%=f.label :step%>
      <%=f.number_field :step %>
    </div>

    <div class="field">
      <%=f.label :date%>
      <%=f.date_field :date %>
    </div>

    <%=f.submit"countを投稿する"%>
<%end%>

<%=link_to"count一覧に戻る",counts_path%>